body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: hsl(195, 27%, 30%);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

nav {
    background-color: hsl(195, 27%, 30%);
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: hsl(195, 42%, 35%);
}

main {
    padding: 2rem;
    background-image: url('japan1.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;
}

#about-main {
    position: relative;
    z-index: 2;
}

section {
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background for sections */
    color: black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#company-info {
    max-width: 800px;
    margin: 2rem auto;
}

#team {
    max-width: 800px;
    margin: 2rem auto;
}

.team-member {
    margin-bottom: 2rem;
    text-align: center;
}

.team-member h3 {
    margin: 0;
    font-size: 1.5rem;
}

.team-member p {
    margin: 0.5rem 0 1rem;
}

.team-role {
    padding: 0.5rem 1rem;
    background-color: hsl(195, 42%, 35%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.team-role:hover {
    background-color: hsl(195, 42%, 35%);
}
